body {
    background-color: #f5f5f5;
}

.card {
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    transition: transform 0.2s ease;
    background-color: #e3f2fd; /* SVE U JEDNOM BLOKU */
}

.card:hover {
    transform: translateY(-5px);
}

.card-title {
    font-weight: bold;
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
}

.club-title {
    margin-bottom: 30px;
}